@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./board.scss";
@import "./pin.scss";
@import "./nav.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'vars';

$letters:
  "p" $p,
  "i" $i,
  "n" $n,
  "t" $t,
  "e" $e,
  "r" $r,
  "e2" $e2,
  "s" $s;

@each $letter, $hex in $letters {
  .#{$letter} {
    color: $hex;
  }
}

body {
  background-color:#111;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: 'Varela Round', sans-serif;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#profileImg {
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
}

#welcomeMsg {
  color: white;
  font-size: 1.5rem;
}

.headerColor {
  font-size: 2rem;
  margin-top: 1.5%;
}

.home-title {
  font-size: 8rem;
  margin: 15px;
}

.headerProfile {
  height: 120px;
  border-radius: 50%;
  object-fit: fill;
}

h1.headerTitle {
  margin-right: 100px;
}
