@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./board.scss";
@import "./pin.scss";

body {
  background-color:#111;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.home-title {
  font-size: 8rem;
  margin: 15px;
}

.p {
  color: #A7226E;
}

.i {
  color: #ec2049;
}

.n {
  color: #f26b38;
}

.t {
  color: #f7db4f;
}

.e {
  color: #2f9599;
}

.r {
  color: #a7226e;
}

.e2 {
  color: #ec2049;
}

.s {
  color: #f26b38;
}
