#return {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
  margin: 20px;
}

#return:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
  font-weight: bold;
}


#pinContainer {
  margin: 3px;
  align-content: center;
  height: 350px;
  border-radius: 10%;
  border: 6px solid #8b0000;
}

.pinImg {
  height: 70%;
  object-fit: cover;
  border-radius: 9% 9% 0 0;
}

.pinInfo {
  height: 30%;
}

.userImage {
  width: 75px;
  position: absolute;
  top: 60%;
  border-radius: 50%;
  object-fit: cover;
}
